**/.DS_STORE
training/.ipynb_checkpoints
training/data
training/sample_data/*.txt
training/*.log
training/train_data
training/log
training/training_data
training/*.tar.gz
*.idea
server/venv
server/result/*.json
data/speech_commands
data/personalized_speech_commands
data/*.gz
*.swp
**/__pycache__
**/node_modules
