[submodule "honkling-node/models"]
	path = honkling-node/models
	url = https://github.com/castorini/honkling-models.git
[submodule "models"]
	path = models
	url = https://github.com/castorini/honkling-models.git
