.DS_STORE
training/.ipynb_checkpoints
training/data
training/sample_data/*.txt
training/*.log
training/train_data
training/log
training/training_data
training/*.tar.gz
weights/RES8_NARROW/*.js
*.idea
server/venv
server/result/*.json
data/speech_command*
*.swp
**/__pycache__
