.DS_STORE
training/.ipynb_checkpoints
training/.idea
training/data
training/sample_data/*.txt
training/*.log
training/train_data
training/log
training/training_data
training/*.tar.gz
weights/RES8_NARROW/*.js
