body {
  padding: 2rem 0;
}

.text-center {
  text-align: center;
}

audio {
  width:100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-group-item-dark.active {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}

#logo {
  width:90%;
}

#commandList {
  margin-bottom: 15px;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display: block;
}
.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
    color:grey;
}

.nav a:hover {
    color:black;
}
