<!DOCTYPE html>
<html lang="en">
<head>
  <title>Honkling</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap.min.css">
  <script type="text/javascript" src="../lib/meyda.js"></script>
  <script type="text/javascript" src="../lib/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../lib/tfjs/tf.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <script src="../lib/visualizer.js/dist/visualizer.global.min.js"></script>

  <!-- for 2048 -->
  <link href="../2048/style/main.css" rel="stylesheet" type="text/css">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">

</head>
<body>
  <div class="container">
    <div class="row justify-content-center" id="navBarPlaceholder"></div>

    <div class="row justify-content-center" id="gameBoardPlaceholder"></div>

    <div id="footerPlaceholder"></div>
  </div>

  <script src="../common/baseController.js"></script>
  <script src="../common/config.js"></script>
  <script src="../common/util.js"></script>
  <script src="../models/honkling/2048.js"></script>
  <script src="../common/micAudioProcessor.js"></script>
  <script src="../common/offlineAudioProcessor.js"></script>
  <script src="../common/SpeechResModel.js"></script>
  <script src="../common/model.js"></script>
  <script src="../controller/2048Controller.js"></script>

  <!-- for 2048 -->
  <script src="../2048/js/bind_polyfill.js"></script>
  <script src="../2048/js/classlist_polyfill.js"></script>
  <script src="../2048/js/animframe_polyfill.js"></script>
  <script src="../2048/js/audio_input_manager.js"></script>
  <script src="../2048/js/html_actuator.js"></script>
  <script src="../2048/js/grid.js"></script>
  <script src="../2048/js/tile.js"></script>
  <script src="../2048/js/local_storage_manager.js"></script>
  <script src="../2048/js/game_manager.js"></script>
</body>
</html>
