<!DOCTYPE html>
<html lang="en">
<head>
  <title>Honkling</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap.min.css">
  <script type="text/javascript" src="../lib/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center" id="navBarPlaceholder"></div>

    <div class="row justify-content-center">
      <div class="col-7">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Honkling is an in-browser keyword spotting system implemented with TensorFlow.js.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Honkling can efficiently identify simple commands (e.g., "stop" and "go") in-browser without a network connection. It demonstrates cross-platform speech recognition capabilities for interactive intelligent agents with its pure JavaScript implementation.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <b><a class="github-link" href="http://github.com/castorini/honkling">For more details, please visit github page </a></b>
    </div>

    <div id="footerPlaceholder"></div>
  </div>
  <script src="../common/baseController.js"></script>
  <script src="../controller/aboutController.js"></script>
</body>
</html>
