<!DOCTYPE html>
<html lang="en">
<head>
  <title>Honkling</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-4/css/bootstrap.min.css">
  <script type="text/javascript" src="../lib/meyda.js"></script>
  <script type="text/javascript" src="../lib/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../lib/tfjs/tf.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-2" style="padding-right:1vw;">
        <img id="logo" src="../logo/Logomark black.png"/>
      </div>
      <div class="col-6" style="padding-left:1vw;">
        <h1 style="font-size:8vw;">Honkling</h1>
      </div>
    </div>
    <div class="row justify-content-center" style="margin:0;">
      <p class="lead" style="font-size:2vw;">Keyword spotting with JavaScript</p>
    </div>
    <ul class="nav">
      <li><a href="../index.html">Home</a></li>
      <li><a href="./2048.html">2048</a></li>
      <li><a href="./evaluatePerformance.html">Evaluate Performance</a></li>
      <li><a href="./loadModel.html">Load Model</a></li>
      <li><a href="./about.html">About</a></li>
    </ul>
    <br/>

    <div class="row justify-content-center">
      <div class="col">
        <p id="initSummary" class="text-center"></p>
        <p id="statusBar" class="text-center"></p>
      </div>
    </div>
    <div class="evaluateProgressBarWrapper row" style="display:none;">
      <div class="col">
        <div class="progress">
          <div class="evaluateProgressBar progress-bar progress-bar-striped" role="progressbar progress-bar-striped" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="valEvaluation">
      <div class="reportTableWrapper border border-dark rounded bg-light" style="display:none;">
        <div class="row justify-content-center">
          <div class="col">
            <H2 class="text-center">< Evaluation on Validation Set ></H2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <H4 class="text-center text-secondary reportName">Summary</H4>
            <br/>
            <table class="summaryReportTable table" style="margin:auto;">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center positiveReportTableWrapper border-top" style="display:none;">
          <br/>
          <br/>
          <div class="col">
            <H4 class="text-center text-secondary">Positive Keywords</H4>
            <br/>
            <table class="positiveReportTable table" style="margin:auto;">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center negativeReportTableWrapper border-top" style="display:none;">
          <br/>
          <br/>
          <div class="col">
            <H4 class="text-center text-secondary">Negative Keywords</H4>
            <br/>
            <table class="negativeReportTable table" style="margin:auto;">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <br/>
        <div class="row justify-content-center showBtns">
          <button type="button" class="positiveTableBtn btn col-centered btn-outline-primary">show positive summary</button>
          <button type="button" class="negativeTableBtn btn col-centered btn-outline-primary">show negative summary</button>
        </div>
        <br/>
      </div>
    </div>

    <div class="testEvaluation">
      <div class="reportTableWrapper border border-dark rounded bg-light" style="display:none;">
        <div class="row justify-content-center">
          <div class="col">
            <H2 class="text-center">< Evaluation on Test Set ></H2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <H4 class="text-center text-secondary reportName">Summary</H4>
            <br/>
            <table class="summaryReportTable table" style="margin:auto;">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center positiveReportTableWrapper border-top" style="display:none;">
          <br/>
          <br/>
          <div class="col">
            <H4 class="text-center text-secondary">Positive Keywords</H4>
            <br/>
            <table class="positiveReportTable table" style="margin:auto;">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center negativeReportTableWrapper border-top" style="display:none;">
          <br/>
          <br/>
          <div class="col">
            <H4 class="text-center text-secondary">Negative Keywords</H4>
            <br/>
            <table class="negativeReportTable table" style="margin:auto;">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <br/>
        <div class="row justify-content-center showBtns">
          <button type="button" class="positiveTableBtn btn col-centered btn-outline-primary">show positive summary</button>
          <button type="button" class="negativeTableBtn btn col-centered btn-outline-primary">show negative summary</button>
        </div>
        <br/>
      </div>
    </div>

    <div class="row justify-content-center" id="evalSettingInputWrapper">
      <div style="margin-right: 1vw">
        <label>Application ID : </label>
        <input type="text" id="appIdInput">
      </div>
      <div style="margin-left: 1vw">
        <select class="modelSelect">
        </select>
      </div>
    </div>
    <div class="typeRadioWrapper row justify-content-center">
      <div class="col-6 text-center border border-dark rounded bg-light">
        <label class="radio-inline" style="margin:1vw;">
          <input class="typeRadio" type="radio" name="type" value="val">
          Validation Set
        </label>
        <label class="radio-inline" style="margin:1vw;">
          <input class="typeRadio" type="radio" name="type" value="test">
          Test Set
        </label>
        <label class="radio-inline" style="margin:1vw;">
          <input class="typeRadio" type="radio" name="type" value="all" checked>
          Validation & Test Set
        </label>
      </div>
    </div>

    <div class="row justify-content-center">
      <button id="evaluateBtn" type="button" class="btn btn-primary" style="margin:1vw;">EVALUATE</button>
      <button id="continueBtn" type="button" class="btn btn-primary"  style="display:none;margin:1vw;">CONTINUE</button>
      <button id="stopEvaluateBtn" type="button" class="btn btn-danger"  style="display:none;margin:1vw;">STOP</button>
    </div>
  </div>
  <script src="../common/sampleTrainingData.js"></script>
  <script src="../common/config.js"></script>
  <script src="../common/util.js"></script>
  <script src="../common/offlineAudioProcessor.js"></script>
  <script src="../weights/RES8_NARROW.js"></script>
  <script src="../weights/RES8_NARROW_40.js"></script>
  <script src="../weights/RES8_NARROW_80.js"></script>
  <script src="../weights/RES8.js"></script>
  <script src="../weights/RES8_40.js"></script>
  <script src="../weights/RES8_80.js"></script>
  <script src="../common/SpeechResModel.js"></script>
  <script src="../common/model.js"></script>
  <script src="../common/tableGenerator.js"></script>
  <script src="../common/performanceEvaluator.js"></script>
  <script src="../controller/evaluatePerformanceController.js"></script>
</body>
</html>
