<!DOCTYPE html>
<html lang="en">
<head>
  <title>Honkling</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-4/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-4/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-4/css/bootstrap.min.css">
  <script type="text/javascript" src="lib/meyda.js"></script>
  <script type="text/javascript" src="lib/jquery-3.3.1.min.js"></script>
  <!-- <script type="text/javascript" src="lib/tfjs/tf.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
  <script src="lib/visualizer.js/dist/visualizer.global.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center" id="navBarPlaceholder"></div>

    <div class="row">
      <div class="col">
        <p id="statusBar" class="text-center">Allow microphone access to record a keyword</p>
      </div>
    </div>

    <div id="waveformWrapper" class="row">
      <div class="col">
        <div id="waveform" class="text-center"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul id="commandList1" class="commandList list-group">
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        <ul id="commandList2" class="commandList list-group">
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        <ul id="commandList3" class="commandList list-group">
        </ul>
      </div>
      <hr>
    </div>

    <div id="footerPlaceholder"></div>
  </div>
  <script src="common/config.js"></script>
  <script src="common/util.js"></script>
  <script src="honkling-models/honkling/RES8-4words.js"></script>
  <script src="common/precomputed/melBasis.js"></script>
  <script src="common/precomputed/hanningWindow.js"></script>
  <script src="common/melSpectrogram.js"></script>
  <script src="common/micAudioProcessor.js"></script>
  <script src="common/offlineAudioProcessor.js"></script>
  <script src="models/speechResModel.js"></script>
  <script src="controller/baseController.js"></script>
  <script src="controller/honklingController.js"></script>
</body>
</html>
