<div>
  <div class="row justify-content-center">
    <h1 class="text-center" style="font-size:300%;color:#505050">HONKLING</h1>
  </div>
  <div class="row justify-content-center" style="margin:0;">
    <p class="lead">Keyword spotting with JavaScript</p>
  </div>
  <ul class="nav">
    <li><a href="./home.html">Home</a></li>
    <!-- <li><a href="./2048.html">2048</a></li> -->
    <li><a href="./evaluatePerformance.html">Evaluate Performance</a></li>
    <!-- <li><a href="./loadModel.html">Load Model</a></li> -->
    <!-- <li><a href="./personalization.html">Personalization</a></li> -->
    <li><a href="./about.html">About</a></li>
  </ul>
  <br/>
</div>
